node_modules
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
dist
build
.vscode/
.idea/
coverage/
.cache/
.next/
out/
*.log
*.tsbuildinfo
*.env
*.local
*.sqlite
*.sqlite3
*.pdb
*.db
*.bak
*.swp
*.swo
*.iml
*.class
*.jar
*.war
